//шрифты
@font-face {
    font-weight: 300; 
    font-family: Fira Sans;
    src: url("../fonts/FiraSans-Light.ttf");
}
@font-face {
    font-weight: 400; 
    font-family: Fira Sans;
    src: url("../fonts/FiraSans-Regular.ttf");
}
@font-face {
    font-weight: 500; 
    font-family: Fira Sans;
    src: url("../fonts/FiraSans-Medium.ttf");
}
@font-face {
    font-weight: 700; 
    font-family: Fira Sans;
    src: url("../fonts/FiraSans-Bold.ttf");
}

//цвета
$color_secondary: #020923;
$color_accent: #00A3FF;
$color_btn: linear-gradient(#030A22, #092381);

$color_grey: #fdfafa;

//отступы
$m_section: 3.75rem;

//шаблон кнопки
@mixin btn($w, $h, $rad, $p){
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    display: block;
    width: $w;
    height:$h;
    border-radius: $rad;
    padding: $p;

}

html, body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    line-height: normal;
    color: $color_secondary;
}
.noscroll{
    overflow: hidden;
}

.container{
    max-width: 95%;
    margin: 0 auto;
    padding: 0 5px;
    position: relative;
}

.section_title{
    font-size: 1.75rem;
    font-weight: 400;
    background: linear-gradient(107deg, #03081A 0%, #091C5C 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section_text{
    margin-top: 1.5rem;
    letter-spacing: 0.05rem;
    font-size: 1rem;
}

section{
    
    padding: 3.75rem 0 3.75rem 0;
}

.scrolltrigger{
    position: absolute;
    top: 50vh;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    height: 10px;
}

.shadow{
    display: flex;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.51);
    z-index: 4;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    &-active{
        visibility: visible;
        opacity: 1;
    }
    
}


