.mobile_menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    
    
    height: 100vh;
    width: 60%;
    
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 1rem 0 0 1rem;
    &-active{
        visibility: visible;
        transform: translateX(0);
      
    }
    
   

    &-top{
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            display: block;
            width: 5.2rem;
        }
        .close{
            display: block;
            width: 1.25rem;
            height: 1.275rem;
            margin-bottom: -0.225rem;

        }
        // &::after{
        //     content: " ";
        //     background-image: url('img/x-button.svg');
        //     background-size: cover;
            
        //     position: absolute;
        //     display: block;
        //     right: 0;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     width: 1.25rem;
        //     height: 1.275rem;
        // }
    }
    &_list{
        padding: 0.5rem 0;
        margin-top: 2.25rem;
        display: flex;
        flex-direction: column;

        &-item{
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.625rem;
            
            height: fit-content;
            font-size: 1rem;
            font-weight: 400;
            line-height: normal;
            text-align-last: left;
            margin-bottom: 0.3rem;
            transition: all 0.2s ease-in-out;
            a{
                display: block;
                width: 100%;
                transition: all 0.2s ease-in-out;
            }
            &:hover{
                cursor: pointer;
               
            }
            &:active{
            background-color: $color_grey;
            outline: none;

            }

        }
        #catalogBtnMobile{
            display: flex;
            justify-content: space-between;
            align-items: center;
            path{
                stroke: $color_secondary;
                
            }
            svg{
                width: 0.4rem;
            }
        }
        
    }
    
}

.mobile_submenu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding-bottom: 0.5rem;
    background-color: #fff;
    color: $color_secondary;
     
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    z-index: 6;



    &-active{
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
    &_top{
        height: 3rem;
        box-shadow: 0px 9px 8px 0px rgba(0, 0, 0, 0.042);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.3rem;
        z-index: 8;
        &-back{
            font-weight: 700;
            padding-left: 2rem;
            position: relative;
            font-size: 1.2rem;
            &:hover{
                cursor: pointer;
            }
        }
        &-back::before{
            content:'';
            background-image: url('img/arrow-back.svg');
            background-size: cover;
            display: block;
            position: absolute; 
            top: 32%;
            left: 0;
            width: 1.5rem;
            height: 1rem;
            transform: translateY(-25%);
        }
        &-link{
            color: $color_accent;
        }
    }

    &_inner{
        position: relative;
        
        &_sidebar{
            padding-top: 2rem;
            background-color: $color_secondary;
            color: #fff;
            position: fixed;
            top: 3rem;
            left: 0;
            width: 100%;
            height: calc(100vh - 3rem);
            padding-left: 0.5rem;

            overflow-y: auto;
            overflow-x: hidden;

            &::after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                width: 60%;
                height: 100%;
                background-color: #fff;
                z-index: 10;
            }
           
            
            &-item{
                background-color: inherit;
                width: 100%;
                min-height: 2rem;
                height: fit-content;

                border-radius: 3rem 0 0 3rem;

                
                padding: 0.7rem 0;
                padding-left: 0.8rem;
                margin-bottom: 0.5rem;
                
                transition: all 0.2s ease-in-out;
                vertical-align: middle;   
                &-active{
                    background-color: #fff;
                    color: $color_secondary;
                    ul{
                        transform: translateX(0);   
                        opacity: 1;
                        visibility:visible;
                    }
                }

            }
        }
    }
   

    
}

.mobile_subsubmenu{
    position: absolute;
    top:  0;
    padding-top: 2rem;
    right: 0;
    width: 60%;
    height: 100vh;
    background-color: transparent;
    color: $color_secondary;
    opacity: 0;
    transform: translateX(-1rem);
    visibility: hidden;

    overflow-y: auto;

    transition: all  0.2s ease-in-out;

    z-index: 11;
    
    &-item{
        min-height: 1.5rem;
        margin-bottom: 0.75rem;
        
        height: fit-content;
        
        padding: 0.2rem 0;
        padding-left: 0.8rem;
        
        vertical-align: middle;   

        a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}