@import "_nullstyle.scss"; //обнуление стилей
@import "_globals.scss"; //глобальные стили и переменные
@import "_animations.scss";//анимации
@import "_servicesMenu.scss"; // меню услуг
@import "_mobileMenu.scss"; // Мобильное меню


.header{
    min-height: 100vh;
    background-image: url('img/header-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 3.75rem;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100vh;
        max-width: 100%;
        width: 100%;
        background: linear-gradient(180deg, #101011 5.73%, rgba(16, 16, 17, 0.00) 100%);
    }
    &::after{
        content: url('img/header-arrow.svg');
        display: block;
        
        position: absolute;
        bottom: 3.5rem;
        left: 50%;
        animation: 2s infinite ease-in-out headerArrow;

    }
    &-logo{
        display: block;
        position: relative;
        margin: 0 auto;
        margin-top: 30vh;
        width: 19.5rem;
        max-width: 100%;
        z-index: 2;
        
    }
    &-btn{
        @include btn(12.5rem, 3.125rem, 2.5rem, 1rem 1.7rem);
        display: flex;
        position: relative;
        z-index: 2;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 2rem;
        color: #fff;
        border: 2px solid #fff;
        background-color: transparent;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: #fff;
            color: $color_secondary;
        }
    }
    
}
.nav{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 3;
   transition: all 0.2s ease-in-out;
  
   
   &_wrapper{
       height: 3.75rem;  
    display: flex;
   justify-content: space-between;
   align-items: center;
   }
   &-logo svg{
    display: block;
   
   }

  
    
    button{
        background-color: transparent;
        border: none;
        width: fit-content;
    } 
    //анимированная иконка телефона в навигации
    &-phone{
        display: block;
        position: relative;
        width: fit-content;
        height: 1.8rem;
        &::after{
            content: " ";
            background-image: url('img/phone-animation-white.svg');
            background-size: cover;
            
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            
        }
    }
    &_right{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        &-btn{
            height: 1.8rem;
            background-color: transparent;
            fill: #000
        }
        svg{
            height: 1.8rem;
        }
    } 
    #burger-btn{
        margin-left: 1rem;
    }
    &-light{
        background-color: #fff;
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.10);
        svg{
            // filter: invert(6%) sepia(7%) saturate(6012%) hue-rotate(192deg) brightness(91%) contrast(106%);
           
           path{
            fill: $color_secondary;
            stroke: $color_secondary    ;
            } 
        }
        .nav-phone::after{
            opacity: 0;
        }
    }
}
.about{
    margin: 0;
    padding: 3.75rem 0 3.75rem 0;
    background-image: url(img/marble-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-img{
        max-width: 100%;
        margin-top: 1.5rem;
        
    }
    &-img-first{
        margin-top: 3.75rem;
    }
   
}
.comfort{
    
    &-img{
        max-width: 100%;
        margin-top: 3.75rem;
    }
}
.choice{
    background-color: #F6F6F6;
    .section_title{
        margin-top: 2rem;
        
    }
    .section_text{
        margin-top: 1rem;
       
    }
    .section_title:first-child{
        margin-top: 0;
        padding-left: 0;
    }
    .scroll_animation{
        margin-top: 2rem;
        padding-left: 0.5rem;
    }
    .choice_subtitle{
        margin-top: 3rem;
        text-align: center;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        background: var(--btn-grad, linear-gradient(16deg, #030A22 22.92%, #092381 100%));
        background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
.cards{
    &_wrapper{
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.card{
    display: flex;
    justify-content: space-between;
    position: relative;
    // align-items: center;
    width: 100%;
    height: 7.8125rem;
    margin-bottom: 2.25rem;
    color: #000;
    line-height: normal;
    
    
    &-img{
        width: 50%;
        height: 100%;
        min-width: 1rem;
        min-height: 7.8123rem;
        // padding: 18%;
        background-image: url('img/card-placeholder.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0.8rem 0  0 0.8rem;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    }
    &_inner{
        text-align: left;
        max-width: 50%;
        margin-left: 1rem;
        overflow-y: hidden;
        padding-bottom: 0.4rem;
        max-height: 92%;
        &-title{
            font-size: 1.125rem;
            font-weight: 700;
            
        }
        &-text{
            max-width: 100%;
            margin-top: 1rem;
            font-size: 1rem;
            font-weight: 400;
          
            
        }
    }

    &:nth-child(2n){
        flex-direction: row-reverse;
        .card-img{
            border-radius:  0 0.8rem 0.8rem 0 ;
            margin-left: 1rem;
        }
        .card_inner{
            margin-left: 0;
        }
    }
}

.footer{
    
    padding-top: 3.75rem;
    padding-bottom: 1rem;
    background-color: $color_secondary;
    color: #fff;

    &__list{
        display: flex;
        text-align: left;
        flex-direction: column;
        margin-bottom: 2rem;
        &-item{
            font-weight: 300;
            color: #C9C8C8;
            margin-bottom: 0.5rem;
            &:first-child{
                color: #fff;
                margin-bottom: 1.2rem;
            }
        }
    }

    &_btn{
        margin: 0 auto;
        margin-top: 3rem;
        // @include btn(19rem, 3.75rem, 0.5rem, 1rem);
        @include btn(14rem, 3rem, 5rem, 0.8rem);
        background-color: #fff;
        max-width: 100%;
        color: $color_secondary;
        box-shadow: 0px 2px 42px 0px rgba(0, 172, 209, 0.35);
        font-size: 1.25rem;
        font-weight: 500;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1.8rem;
        &-img{
            height: 1.25rem;
            
        }
    }


    // &_inner{


    //     &-logo{
    //         display: block;
    //         margin: 0 auto;
    //         width: 80%;
    //     }
    //     &_menu{
    //         margin: 0 auto;
    //         margin-top: 3rem;
    //         display: flex;
    //         justify-content: center;
    //         flex-direction: column;
    //         text-align: center;
    //         &-item{
    //             margin-top: 1rem;
    //             font-size: 1.2rem;
    //             font-weight: 400;
    //         }
    //     }
        
        
    // }
    // &_info{
    //     margin: 0 auto;
    //     margin-top: 3rem;
    //     display: flex;
    //     justify-content: center;
    //     flex-direction: column;
    //     text-align: center;
    //     &-item{
    //         margin-top: 1rem;
    //         font-size: 1.2rem;
    //         font-weight: 300;
    //         span{
    //             font-weight: 400;
    //         }
    //     }
    // }
    // &-line{
    //     height: 1px;
    //     width: 6.25rem;
    //     margin: 0 auto;
    //     margin-top: 3rem;
    //     background-color: #fff;
    // }
    // &_btn{
    //     margin: 0 auto;
    //     margin-top: 3rem;
    //     @include btn(19rem, 3.75rem, 0.5rem, 1rem);
    //     background-color: #fff;
    //     max-width: 100%;
    //     color: $color_secondary;
    //     box-shadow: 0px 1px 42px 0px rgba(0, 172, 209, 0.25);
    //     font-size: 1.75rem;
    //     font-weight: 500;
    //     text-align: left;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     padding-right: 2.5rem;
    //     &-img{
    //         height: 1.75rem;
           
    //     }

    // }
    // &-policy{
    //     font-weight: 300;
    //     font-size: 0.75rem;
    //     display: block;
    //     margin: 0 auto;
    //     margin-top: 4rem;
    //     text-align: center;
    //     width: fit-content;
    //     opacity: 0.4;
        
    // }
}


@import "_adaptive.scss";

